<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>
<%- include('partials/error') %>
<form action="/<%= roleName%>/newMessage" method="post">
    <label for="title">Subject</label>
    <input type="text" id="title" name="title">

    <label for="content">message</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>

    <button type="submit">send</button>
</form>
<a href="/<%=roleName%>/messages">back</a>
</body>
</html>